@media screen and (max-width: 768px) {
  #nav {
    display: none;
  }
  #side {
    display: none;
  }
}

.sklgap {
  gap: 128px;
}
.sklgap1 {
  gap: 128px;
}

.arka22 {
  display: none !important;
}
@media screen and (max-width: 1010px) {
  .scroll {
    display: none;
  }
  #sclop {
    display: none;
  }
}

/* Tablets (portrait and landscape) */
@media only screen and (min-width: 735px) and (max-width: 850px) {
  .pro {
    margin-left: 20% !important;
  }
}

@media only screen and (max-width: 735px) {
  .pro {
    margin-left: 17% !important;
  }
}
@media only screen and (max-width: 393px) {
  .pro {
    margin-left: 17% !important;
  }
}
@media only screen and (max-width: 412px) {
  .pro {
    margin-left: 17% !important;
  }
}
@media only screen and (max-width: 384px) {
  .pro {
    margin-left: 17% !important;
  }
}

@media only screen and (max-width: 644px) {
  .pro {
    margin-left: 12% !important;
  }
}
@media only screen and (max-width: 390px) {
  .pro {
    margin-left: 55px !important;
  }
}

@media only screen and (max-width: 559px) {
  .pro {
    margin-left: 7% !important;
  }
}
@media only screen and (max-width: 475px) {
  .pro {
    margin-left: 3% !important;
  }
}
@media only screen and (max-width: 375px) {
  .pro {
    margin-left: 5% !important;
  }
}
@media only screen and (max-width: 414px) {
  .pro {
    margin-left: 3% !important;
  }
}
@media only screen and (max-width: 444px) {
  .pro {
    margin-left: 1.4% !important;
  }
}
@media only screen and (max-width: 420px) {
  /* Your CSS rules for tablets */

  .pro {
    margin-left: 1.1% !important;
  }
}

@media only screen and (max-width: 360px) {
  .pro {
    margin-left: -6.36% !important;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .home{
  margin-top: 0px !important;

  }
  .herosec{
    justify-content: center !important;
    align-items: center !important;
    margin-left: -21.9px !important;
  }
  .zin {
    z-index: 1004;
  }
  /* .abtboxx{
  width: 75%;
} */
  .xvg {
    font-size: 13px;
  }

  .tx {
    font-size: 16px !important;
  }
  .pcl {
    font-size: 13px;
  }
.poplo{
  width: 170px;
}
.poplo1{
  width: 203px;
}
  .abto {
    padding-top: 20px;
    margin-left: 9%;
    margin-right: 9% !important;
  }

  .ark {
    display: none !important;
  }

  .arka22 {
    padding-top: 9px;
    margin-top: -19px;
    display: block !important;
    width: 60px;
  }
  #nav2 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 5000 !important;
  }
  .bur {
    position: absolute;
    right: 12px;
  }

  .sklgap {
    gap: 49.887px;
  }

  .sklgap1 {
    gap: 37.437px;
  }
}

/* Side Social Media */

.wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 91.3%;
  width: 50px;
  padding-top: 105px;
  padding-left: 60%;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  background-color: red;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: -400%;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  margin-left: -30px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}

.wrapper .icon:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: 6px;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #010101;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}
/* Side social media up */

.scroll {
  margin-left: 17.5%;
  margin-top: -2%;
}
.scdn {
  margin-top: 6px;
}
.arrow {
  margin-top: 3px;
}

.cvsvg {
  padding: 5px 0 0 7px;
}

.merged {
  display: flex;
  gap: 190px;
}

.home {
  margin-top: -100px;
  display: flex;
  gap: 150px;
  padding: 6% 0 0 3%;
  justify-content: center;
}
.home .container {
  padding-top: 12%;
  padding-right: 0%;
  padding-bottom: 0;
  padding-left: 3%;
}
.border {
  border-radius: 50% !important;
  margin-top: -5%;
}
.sv {
  margin-top: 4px;
}

/* CONTACTS */

ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -66px;
  margin-bottom: -15px;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="whatsapp"] .filled,
.example-2 .icon-content a[data-social="whatsapp"] ~ .tooltip {
  background-color: #25d366;
  /* background-color: #00ff44; */
}

.arka2 {
  height: 45px;
}

.author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

/* BuTTOnS */

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

.boxc {
  margin-top: -25px;
}
/* SKILLS */

.abto {
  text-align: justify;
  text-justify: inter-word;
  margin-top: -30px;
  margin-bottom: 20px;
  margin-right: 60px;
}
.abto1 {
  text-align: justify;
  text-justify: inter-word;
}

.nwskl {
  justify-content: center !important;
  text-align: center !important;
}

.pro {
  padding-left: 11.5%;
  padding-right: 6%;
}

.sklshdo {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
}

/* Navbar.css */
.navbar {

  z-index: 1000 !important;
  /* width: 99%; */
  /* margin-left: 3%; */
  width: 250px;
  /* width: 50%; */
  /* width: 70%; */
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);

  color: rgb(0, 0, 0);
  position: fixed;
  top: 73px;
  /* left: -250px; */
  transition: left 0.3s ease;
  /* transition: right 0.3s ease; */
}

.navbar.open {
  z-index: 999 !important;
  left: 0;
}

.navbar.closed {
  z-index: 998 !important;
  /* left: -250px; */
  left: -100%;
}

button {
  margin: 20px;
}

.mklsa {
  margin-bottom: -60px;
}
